{% extends 'base.html.twig' %}

{% block title %}Détails de l'événement
{% endblock %}

{% block body %}
	<p style="font-size: 18px; margin: 1em 0;">
		<a href="{{ path('event_list') }}" style="color: #F06225; text-decoration: none;">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
			</svg>
			Retour
		</a>
	</p>

	<h1>{{ event.title }}</h1>
	<p>
		{{ event.date|date('d/m/Y') }}
		{% if isExpired %}
			<span style="color: red;">(Passé)</span>
		{% else %}
			<span style="color: lime;">(À venir)</span>
		{% endif %}
	</p>
	<p>{{ event.description }}</p>
	<p>Status:
		{{ event.isPublic ? 'Public' : 'Privé' }}</p>
	<p>Places disponibles:
		{{ capacity }}</p>

	<div class="options-box">
		{% if app.user %}
			{% if event.participants.contains(app.user) %}
				<form action="{{ path('event_unregister', {id: event.id}) }}" method="post" style="margin-right: 1.5em">
					<button type="submit" class="btn primary-button">Annuler l'inscription</button>
				</form>
			{% else %}
				{% if event.availableSlots > 0 %}
					<form action="{{ path('event_register', {id: event.id}) }}" method="post" style="margin-right: 1.5em">
						<button type="submit" class="btn primary-button">S'inscrire</button>
					</form>
				{% else %}
					<p>L'événement est complet.</p>
				{% endif %}
			{% endif %}
		{% else %}
			<p>Connectez-vous pour vous inscrire.</p>
		{% endif %}

		{% if app.user == event.creator %}
			<a href="{{ path('event_edit', {'id': event.id}) }}" style="margin-right: 10px;">
				<button class="btn update-btn">Modifier</button>
			</a>
			<form action="{{ path('event_delete', {'id': event.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
				<button type="submit" class="btn delete-btn">Supprimer</button>
			</form>
		{% endif %}
	</div>

	<style>
		.options-box {
			display: flex;
			justify-content: flex-start; /* Ajuster la justification selon vos préférences */
			align-items: center;
			margin-top: 20px; /* Espacement pour améliorer la lisibilité */
		}

		.btn {
			padding: 8px 16px;
			border: none;
			cursor: pointer;
			border-radius: 4px;
			font-size: 14px;
		}

		.primary-button {
			background-color: #3B5998;
			color: #fff;
		}

		.update-btn {
			background-color: #F06225;
			color: #fff;
			margin-right: 10px; /* Espacement entre les boutons */
		}

		.delete-btn {
			background-color: #D9534F;
			color: #fff;
		}

		.delete-btn:hover {
			color: #fff;
		}

		.update-btn:hover {
			color: #fff;
		}
	</style>
{% endblock %}
