{% extends 'base.html.twig' %}

{% block title %}Détails de l'événement
{% endblock %}

{% block body %}
	<h1>{{ event.title }}</h1>
	<p>{{ event.date|date('d/m/Y') }}</p>
	<p>{{ event.description }}</p>
	<p>Status:
		{{ event.isPublic ? 'Public' : 'Privé' }}</p>
	<p>Places disponibles:
		{{ capacity }}</p>


	<div class="options-box">
		{% if app.user %}
			{% if event.participants.contains(app.user) %}
				<form action="{{ path('event_unregister', {id: event.id}) }}" method="post" style="margin-right: 1.5em">
					<button type="submit" class="btn primary-button">Annuler l'inscription</button>
				</form>
			{% else %}
				{% if event.availableSlots > 0 %}
					<form action="{{ path('event_register', {id: event.id}) }}" method="post" style="margin-right: 1.5em">
						<button type="submit" class="btn primary-button">S'inscrire</button>
					</form>
				{% else %}
					<p>L'événement est complet.</p>
				{% endif %}
			{% endif %}
		{% else %}
			<p>Connectez-vous pour vous inscrire.</p>
		{% endif %}

		{% if app.user == event.creator %}
			<a href="{{ path('event_edit', {'id': event.id}) }}" style="margin-right: 10px;">
				<button class="btn update-btn">Modifier</button>
			</a>
			<form action="{{ path('event_delete', {'id': event.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
				<button type="submit" class="btn delete-btn">Supprimer</button>
			</form>
		{% endif %}
	</div>

	<style>
		.options-box {
			display: flex;
			justify-content: flex-start; /* Ajuster la justification selon vos préférences */
			align-items: center;
			margin-top: 20px; /* Espacement pour améliorer la lisibilité */
		}

		.btn {
			padding: 8px 16px;
			border: none;
			cursor: pointer;
			border-radius: 4px;
			font-size: 14px;
		}

		.primary-button {
			background-color: #3B5998;
			color: #fff;
		}

		.update-btn {
			background-color: #F06225;
			color: #fff;
			margin-right: 10px; /* Espacement entre les boutons */
		}

		.delete-btn {
			background-color: #D9534F;
			color: #fff;
		}

		.delete-btn:hover {
			color: #fff;
		}

		.update-btn:hover {
			color: #fff;
		}
	</style>
{% endblock %}
