{% extends 'base.html.twig' %}

{% block title %}Modifier l'événement
{% endblock %}

{% block body %}
	<h1>Modifier l'événement</h1>
	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.title) }}
		{{ form_widget(form.title) }}
	</div>
	<div class="form-group">
		{{ form_label(form.description) }}
		{{ form_widget(form.description) }}
	</div>
	<div class="form-group">
		{{ form_label(form.date) }}
		{{ form_widget(form.date) }}
	</div>
	<div class="form-group">
		{{ form_label(form.maxParticipants) }}
		{{ form_widget(form.maxParticipants) }}
	</div>
	<div class="form-group form-check">
		{{ form_widget(form.isPublic) }}
		{{ form_label(form.isPublic, null, {'label_attr': {'class': 'form-check-label'}}) }}
	</div>
	<button type="submit" class="btn primary-button">Enregistrer</button>
	{{ form_end(form) }}
{% endblock %}
