{% extends 'base.html.twig' %}

{% block title %}Liste des Événements
{% endblock %}

{% block body %}
	<h1>Liste des Événements</h1>

	<p style="font-size: 18px; margin: 1em 0;">
		<a href="{{ path('event_registered') }}" style="color: #F06225; text-decoration: none;">
			Vois mes inscriptions
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
			</svg>
		</a>
	</p>

	<div class="event-container">
		{% for eventWithExpiry in eventsWithExpiry %}
			{% set event = eventWithExpiry.event %}
			{% set isExpired = eventWithExpiry.isExpired %}

			<div class="event-item">
				<div class="card">
					<div class="card-inner">
						<div class="card-front">
							<h5 class="event-title">{{ event.title }}</h5>
							<p class="event-public">
								{% if event.isPublic == 1 %}
									Public
								{% else %}
									Privé
								{% endif %}
							</p>
							<p class="event-date">
								{{ event.date|date('d/m/Y') }}
								{% if isExpired %}
									<span style="color: red;">(Passé)</span>
								{% else %}
									<span style="color: lime;">(À venir)</span>
								{% endif %}
							</p>
						</div>
						<div class="card-back">
							<p>{{ event.description }}</p>
							<a href="{{ path('event_show', {'id': event.id}) }}">
								<button class="btn">Voir plus</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="event-item">
			<div class="create-card">
				<div class="card-front-add">
					<a href="{{ path('event_new') }}" class="create-event-card">
						<div class="plus-sign">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
								<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
							</svg>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<nav aria-label="Page navigation">
		<ul class="pagination">
			{% for i in 1..maxPages %}
				<li class="page-item {% if i == currentPage %}active{% endif %}">
					<a class="page-link" href="{{ path('event_list', {page: i}) }}">{{ i }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>

	<style>
		.plus-sign {
			color: #3B5998;
		}

		.event-title {
			font-size: 24px;
			font-weight: bold;
		}

		.event-date {
			font-size: 18px;
			font-style: italic;
		}

		.event-public {
			font-size: 18px;
			font-style: italic;
		}

		.event-container {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			margin: 2em 0;
		}

		.event-item {
			flex: 1 1 calc(33.333% - 20px);
		}

		.card {
			width: 100%;
			height: 200px;
			perspective: 1000px;
		}

		.card-inner {
			width: 100%;
			height: 100%;
			position: relative;
			transform-style: preserve-3d;
			transition: transform 0.999s;
		}

		.card:hover .card-inner {
			transform: rotateY(180deg);
		}

		.card-front,
		.card-back {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		.card-front {
			background-color: #3B5998;
			color: #fff;
			display: flex;
			align-items: center;
			flex-direction: column;
			border: 10px solid #3B5998;
			border-radius: 10px;
			justify-content: center;
			font-size: 24px;
			transform: rotateY(0deg);
		}

		.card-front-add {
			background-color: transparent;
			display: flex;
			align-items: center;
			flex-direction: column;
			border: none;
			justify-content: center;
			height: 100%;
		}

		.card-back {
			background-color: #F06225;
			color: #fff;
			display: flex;
			align-items: center;
			flex-direction: column;
			border: 10px solid #F06225;
			border-radius: 10px;
			justify-content: center;
			font-size: 24px;
			transform: rotateY(180deg);
		}

		.create-card {
			width: 100%;
			height: 200px;
			perspective: 1000px;
			font-size: 75px;
		}

		.pagination .page-item.active .page-link {
			background-color: #3B5998;
			border-color: #3B5998;
			color: #fff;
		}

		.pagination .page-link {
			color: #3B5998;
		}

		.pagination .page-link:hover {
			color: #F06225;
		}

		.pagination .page-item.active .page-link:hover {
			color: #F06225;
		}

		@media(max-width: 992px) {
			.event-item {
				flex: 1 1 calc(50% - 20px);
			}
		}

		@media(max-width: 576px) {
			.event-item {
				flex: 1 1 100%;
			}
		}
	</style>
{% endblock %}
