{# templates/event/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer Événement
{% endblock %}

{% block body %}
	<h1>Créer un nouvel événement</h1>
	<p style="font-size: 18px; margin: 1em 0; ">
		<a href="{{ path('event_list') }}" style="color: #F06225; text-decoration: none;">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
			</svg>
			Retour
		</a>
	</p>
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	<div class="form-group">
		{{ form_label(form.title, 'Titre', {'label_attr': {'class': 'control-label'}}) }}
		<div class="col-sm-10">
			{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.title) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(form.description, 'Description', {'label_attr': {'class': 'control-label'}}) }}
		<div class="col-sm-10">
			{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.description) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(form.date, 'Date et Heure', {'label_attr': {'class': 'control-label'}}) }}
		<div class="col-sm-10">
			{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.date) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(form.maxParticipants, 'Nombre de participants maximum', {'label_attr': {'class': 'control-label'}}) }}
		<div class="col-sm-10">
			{{ form_widget(form.maxParticipants, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.maxParticipants) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(form.isPublic, 'Événement Public', {'label_attr': {'class': 'control-label'}}) }}
		<div class="col-sm-10">
			{{ form_widget(form.isPublic, {'attr': {'class': 'form-check-input'}}) }}
			{{ form_errors(form.isPublic) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-lg primary-button btn-block">{{ form.vars.value.id ? 'Modifier' : 'Créer' }}</button>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
