{# templates/user/profile.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="primary-color">Mon Profil</h1>
		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.firstName) }}
			{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.firstName) }}
		</div>
		<div class="form-group">
			{{ form_label(form.lastName) }}
			{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.lastName) }}
		</div>
		<div class="form-group">
			{{ form_label(form.email) }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.email) }}
		</div>
		<div class="form-group">
			{{ form_label(form.password) }}
			{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.password) }}
		</div>
		<div class="form-group">
			{{ form_widget(form.submit, {'attr': {'class': 'btn primary-button'}}) }}
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
